@charset "utf-8";
/* CSS Document */

@font-face{
	font-family:myriadproregular;
	src:url(fonts/myriadproregular.otf);
}

input, select, textarea{

	border-radius:03px;
	width: 100%;
	padding:02% 0;
	background:#ffffff;
	border:1px solid #2884c4;
	color:#2884c4;
	margin:02% 0;

	}

fieldset {
	border:none;
}
.content {
	margin-top:60px;
}
#meio-ead2{

	background:#ffffff url(../imgs/bg-meio-ead.png) 25% -05% repeat-x;
	width:100%;
	display:inline-block;
	padding:2% 0%;
	margin:0 0 0 -3.5px;
	vertical-align:top;
	height: auto;
	min-height: 100%;
	float:right;

	}
 .conteudo {
	 width:1000px;
	 height:568px;
	 margin: 0 auto;
 }
 .topo {
	 float:left;
	 width:100%;
	 height:30%;
 }
 .meio {
	 width:100%;
	 height:70%;
 }
input[type="checkbox"]{


	width:08%;

	}

submit, button, input[type="submit"], input[type="button"] {

	border-radius:03px;
	width:100%;
	padding:02% 0;
	background:#2884c4;
	border:1px solid #2884c4;
	color:#ffffff;
	cursor:pointer;
	transition:all 0.4s;
	margin:02% 0;

	}

submit:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {

	background:#282828;
	border:1px solid #282828;
	color:#ffffff;

	}

a, a:hover, li, li:hover, :hover, span{

	transition:all 0.5s;
	text-decoration:none;

	}

body{

	margin:0 0 0 0;
	font-family:myriadproregular;
	color:#2884c4;

	}

#login{

	width:100%;
	background:#2884c4 ;
	text-align:center;
	height:auto;
	display:inline-block;

	}

#login-in input{

	width: 94%;

	}

#login-in{

	width:50%;
	background:#2c2c2c;
	border-radius:03px;
	padding:04%;
	display:inline-block;
	margin: 09% 0;

	}

#header-ead{

	width:20%;
	max-width:20%;
	background:#2c2c2c;
	display:inline-block;
	padding:01% 0;
	color:#ffffff;
	text-align:center;
	overflow:hidden;
	height: auto;
	min-height: 768px;
	position:fixed;
	margin: 0 0 0 -8px;

	}

/* remedio para erro de margen entre os navegadores */

 @-moz-document url-prefix() {
    #header-ead{
        margin: 0 0 0 -5px;
    }
}

/* fim */

.menu{

	width:100%;
	display:inline-block;
	text-align:left;
	margin: 10% 0 0 0;
	position:relative;

	}

.menu img{

	position:relative;
	top:05px;
	margin: 0 03% 0 0;

	}

.menu a{

	width:100%;
	display:inline-block;
	text-decoration:none;
	color:#ffffff;
	padding:03% 04%;
	text-transform:capitalize;

	}

.menu a:hover{

	background:#2884c4;

	}

.direitos-pira{

	border-top:01px dashed #ffffff;
	color:#ffffff;
	font-size:12px;
	display:inline-block;
	padding:2%;
	position:relative;
	margin:2%;

	}

.direitos-pira img{

	width:08%;
	position:relative;
	top:05px;

	}

/* meio do ead */

#meio-ead{

	background:#ffffff url(../imgs/bg-meio-ead.png) 25% -2.5% repeat-x;
	width:76.3%;
	display:inline-block;
	padding:02%;
	vertical-align:top;
	height: auto;
	min-height: 768px;
	left: 19.7%;
	position: relative;

	}

#box-cli{

	width:40%;
	display:inline-block;
	padding:0% 04%;
	vertical-align:top;

	}

#box-cli-02{

	width: 40%;
	display: inline-block;
	padding: 0% 0%;
	vertical-align: top;
	text-align: right;
	float: right;
	position: relative;
	top: -20px;

	}

.avatar-icon{

	max-width:107px;
	max-height:102px;
	z-index: 99999;
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;

	}

.avatar-icon img{

	z-index: 0;
	position: relative;
	top: -105px;
	left: 0px;

}

.avatar-icon:before{

	background:url('../imgs/moldura-avatar.png') no-repeat center center;
	z-index: 99999;
	position: relative;
	display: inline-block;
	content: '';
	width: 107px;
	height: 102px;

  }

.box-info{

	display:inline-block;
	width:70%;
	color:#ffffff;
	vertical-align: top;
	text-transform:capitalize;
	font-style:italic;

	}

.name-alun{

	font-size:18px;
	font-weight:bold;
	width:100%;
	display:inline-block;

	}

.info-more{

	font-size:14px;
	width:100%;
	display:inline-block;

	}

.btn-right-top{


	vertical-align:top;
	text-align:center;
	padding:0 01%;
	display:inline-block;
	color:#ffffff;
	text-transform:capitalize;
	font-style:italic;
	font-size:12px;
	cursor:pointer;
	width: 26%;


	}

.btn-right-top img{

	position:relative;
	top:05px;
	width:20%;

	}

.btn-right-top:hover{

	opacity: 0.5;

	}

#video-espli{

	width:100%;
	display:inline-block;
	padding:04% 0%;

	}

.title-big{

	font-size:30px;
	font-weight:bold;
	padding:02% 0;
	width:100%;
	display:inline-block;
	text-transform:uppercase;
	font-style:italic;

	}

.video-local{

	width:100%;
	display:inline-block;

	}

.video-local img{

	width:100%;

	}

.tiny-title{

	font-size:16px;
	font-weight:bold;
	padding:02% 0;
	width:100%;
	display:inline-block;

	}

#cursos-in{

	display:inline-block;
	width:100%;
	padding:02% 0;

	}

#cursos-in a{

	color: #2884c4;
	display:inline-block;
	border-radius:03px;
	padding:01%;

	}

#cursos-in a:hover{

	background:rgba(0,0,0,0.10);

	}

.title-big-cur{

	font-size:30px;
	font-weight:bold;
	padding:02% 0;
	width:45%;
	display:inline-block;
	text-transform:uppercase;
	font-style:italic;

	}

.box-fast-btn{

	width:54%;
	display:inline-block;
	text-align:right;

	}

.box-fast-btn a{

	width:120px;
	display:inline-block;
	font-size:14px;
	border-radius:03px;
	padding:01% 02%;
	text-align:center;
	color:#ffffff !important;
	text-transform:uppercase;
	background:#2884c4 !important;

	}

.box-fast-btn a:after{

	content:'.';
	background:url(../imgs/arrwon-down.jpg) no-repeat center center;
	width: 10%;
	display: inline-block;
	margin: 0 03%;

	}

.box-fast-btn a:hover{

	opacity:0.8;

	}

.content-curs{

	width:100%;
	display:inline-block;

	}

.video-thumb{

	width:40%;
	display:inline-block;

	}

.box-info-cur-fa{

	width:55%;
	display:inline-block;

	}

.title-fa-cu{

	font-size:18px;
	width:55%;
	text-transform:uppercase;
	display:inline-block;

	}

.info-title-cu{

	font-size:12px;
	width:40%;
	text-transform:uppercase;
	color:#2c2c2c;
	display:inline-block;

	}

.info-title-cu-02{

	font-size:14px;
	width:100%;
	text-transform:uppercase;
	margin:02% 0;
	color:#2c2c2c;
	display:inline-block;

	}

.info-title-cu-03{

	font-size:18px;
	width:100%;
	text-transform:uppercase;
	margin:02% 0;
	color:#2c2c2c;
	display:inline-block;

	}

.content-text-cu{

	width:100%;
	display:inline-block;
	padding:01% 0;
	min-height:140px;

	}

/* footer do ead */

#footer{

	width:100%;
	z-index:999999;
	display:inline-block;
	position: relative;
	max-height: 80px;
	overflow: hidden;
	margin: 0 0 -06px 0;

	}

#footer:after{

	transform: rotate(-01deg);
	background:#2884c4;
	content:'.';
	width: 100%;
	display: inline-block;
	z-index: 0;
	position: relative;
	min-height: 100px;

  	}

.direitos-end{

	width:50%;
	font-size:12px;
	text-transform:uppercase;
	z-index:999;
	position:relative;
	color: #fff;
	padding: 0 02%;
	top: 55px;

	}

.redes{

	width:48%;
	text-align:right;
	z-index:9999;
	position:relative;
	top: 40px;
	float: right;
	padding: 0 04%;

	}

.redes img{

	margin:0 02%;

	}

.redes img:hover{

	border-radius:50%;
	filter:invert(75%);

	}
	.pergunta, .resposta{

		display:inline-block;
		width:100%;
		margin:01% 0;

		}

	.box-por-info{

		background: #2c2c2c;
		padding:02%;
		text-align:left;
		font-size:14px;
		color:#ffffff;
		width:10%;
		max-width:20%;
		border-right:2px solid #ffffff;
		display: inline-block;
		border-radius: 03px 0 0 03px;
		vertical-align:text-top;

		}

	.data-info, .hora-info, .por-info{

		width:100%;
		display:inline-block;
		margin:02% 0;

		}

		.lista-duvidas, .list-style-none {  margin:0; padding:0; list-style: none;}

	.box-resp{

		background: #2884c4;
		padding:2%;
		text-indent: 10px;
		text-align:left;
		font-size:14px;
		color:#ffffff;
		width:100%;
		max-width:80%;
		display: inline-block;
		border-radius: 05px;
		vertical-align:text-top;
		height: auto;
		min-height: 140px;
		margin: 0 1.2% 0 0;
		overflow: hidden;

		}

	.box-per:after{

		content: "";
		width: 0;
		height: 0;
		right:79.8% ;
		margin: -29px 0px 0px 0;
		position: absolute;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
		border-right: 45px solid #626262;
		border-radius: 50%;

	  }

	.box-resp:after{

		content: "";
		width: 0;
		height: 0;
		left:79.5% ;
		margin: -45px 0px 0px 0;
		position: absolute;
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
		border-left: 45px solid #2884c4;
		border-radius: 50%;

	  }

	.box-per{

		background: #626262;
		padding:2%;
		text-indent: 10px;
		text-align:left;
		font-size:14px;
		color:#ffffff;
		width:100%;
		max-width:80%;
		display: inline-block;
		border-radius: 05px;
		vertical-align:text-top;
		height: auto;
		min-height: 140px;
		margin: 0 0 0 01%;
		overflow: hidden;

		}
