<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>{% block titulo %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/stylemz14.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-3.3.1.min.js" charset="utf-8"></script>

{% block extrahead %}{% endblock %}

</head>
<body>
	<div id="meio-ead2">
		<div class="conteudo">
			<div class="topo">
				<a class="logo" href="{%if online%}/modoz{%endif%}/"><img src="{{MEDIA_URL}}imgs/logo.png"></a>
			</div>
			<div class="meio">
				{% if form.errors %}
            <p>Seu EMAIL ou sua SENHA n&atilde;o conferem. Por favor tente novamente.</p>
            {% endif %}
				<br/>
            <form id="id_form_cadastro" action="{{settings.LOGIN_URL}}" method="POST">
					{{ form.username.errors }}
					<label>Username</label>
					<div>
					{{ form.username }}
					</div>
					<br/><br/>
					{{ form.password.errors }}
					<label>Senha</label>
					<div>
					{{ form.password }}
					</div>
                <input type="hidden" name="next" value="{{ next }}" />
					 <br/><br/>
					<a class="ui-state-highlight ui-corner-all esqueceusenha fl" id=""
					href="{%if online%}/modoz{%endif %}/esqueceu_sua_senha/">Esqueceu sua senha?</a>
					<div>
					<input class="submit" type="submit" value="logar" />
					</div>
            </form>
			</div>
		</div>
	</div>
	<div id="footer2">
		<span class="direitos-end">Todos os direitos reservados Modo Zero - 2018</span>
		<span class="redes">
			<a href="#"><img src="{{MEDIA_URL}}imgs/facebook-icon.png"></a>
			<a href="#"><img src="{{MEDIA_URL}}imgs/twitter-icon.png"></a>
		</span>
	</div>
</body>
</html>
