{% extends "base.html" %}
{% block titulo %}Editar Dados{% endblock %}
{% block alunoNome %}{{matricula.aluno.nome}}{% endblock %}
{% block alunoID %}{{matricula.numero}}{% endblock %}
{% block alunoCPF %}{{matricula.aluno.cpf}}{% endblock %}
{% block conteudo %}
      <form class="topspace" id="id_form_cadastro" action="/cadastro/" method="POST">
        	<fieldset>
            	{{ form.nome.errors }}
            	<label>Nome</label>
                <div class="ipt_grande">
                	{{ form.nome }}
                </div>
            </fieldset>
            <fieldset>
            	{{ form.endereco.errors }}
            	<label>Endere&ccedil;o</label>
                <div class="ipt_grande">
                {{ form.endereco }}
                </div>
            </fieldset>
            <fieldset>
            	{{ form.telefone.errors }}
            	<label>Celular</label>
                <div class="ipt_medio">
                {{ form.telefone }}
                </div>
            </fieldset>
            <fieldset>
            	{{ form.email.errors }}
            	<label>Email</label>
                <div class="ipt_medio">
                <input id="id_email" name="email" class="ipt_medio" type="text" maxlength="30"/>
                </div>
            </fieldset>
            <fieldset>
            	{{ form.cpf.errors }}
            	<label>CPF</label>
                <div class="ipt_medio">
                {{ form.cpf }}
                </div>
            </fieldset>

            <fieldset>
            	{{ form.nascimento.errors }}
            	<label>Nascimento</label>
                <div class="ipt_pequeno">
                    {{ form.nascimento }}
                </div>
            </fieldset>
            <fieldset>
            	{{ form.sexo.errors }}
            	<label>Sexo</label>
                <div>
                	{{form.sexo}}
                </div>
            </fieldset>
            <fieldset>
            	{{ form.password.errors }}
            	<label>Informe sua Senha</label>
                <div>
                	{{form.password}}
                </div>
            </fieldset>
            <fieldset>
               {{ form.confirme.errors }}
               <label>Confirme sua Senha</label>
            	<div>
            	{{form.confirme}}
               </div>
            </fieldset>
            <fieldset class="submitline"><input class="submit" type="submit" value="enviar" /></fieldset>
        </form>

{% endblock %}
