{% extends "base.html" %}
{% load i18n %}
{% block titulo %}Aula{% endblock %}
{% block extrahead %}
{% endblock %}

{% block alunoNome %}{{aluno.nome}}{% endblock %}
{% block alunoCPF %}{{aluno.cpf}}{% endblock %}
{% block alunoProgressao %}Curso concluído: {{matriculaRef.get_progressao_curso}}%{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}
{% block conteudo %}
{%if aula%}
<div id="cursos-in">
   <h2 class="title-big-cur">{{aula.titulo}}</h2>
   <ul class="list-style-none">
      <li class="video-local">
         <iframe
            width="940" height="380"
            src="{{aula.urlYoutube}}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
         </iframe>
         <span class="info-title-cu-02">Horas: 00:00 / Status: {%if matricula.cursosituacao%}{{matricula.cursosituacao}}{%else%}Aberto{%endif%}</span>
         <span class="content-text-cu">{{ aula.descricao|safe }}</span>
      </li>
      {% if exercicios.all %}
      <li>
         <h3>Resolução de exercicios:</h3>
         {% for exercicio in exercicios.all %}
            {% ifequal exercicio.status "avaliacao" %}
            <h4>AVALIAÇÃO FINAL DE CURSO:</h4>
            <a href="{%if online%}/modoz{%endif%}/exercicio/{{exercicio.titulourl}}">{{ exercicio.titulo|safe }}</a>
            {% else %}
            <a href="{%if online%}/modoz{%endif%}/exercicio/{{exercicio.titulourl}}">{{ exercicio.titulo|safe }}</a>
            {% endifequal %}
         {%endfor%}
      {%endif%}
      {% if aula.anexos %}
      <li>
         <h3>Documentos e complementos:</h3>
         <a href="{{MEDIA_URL}}{{ aula.anexos }}">Download</a>
      </li>
      {% endif %}
   </ul>
</div>
{%else%}
<h3>Você não tem permissão para acessar essa aula.</h3>
{%endif%}
{% endblock conteudo %}
