<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>{% block titulo %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/stylemz15.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-3.3.1.min.js" charset="utf-8"></script>

{% block extrahead %}{% endblock %}

</head>
<body>
	<div id="header-ead">
		<a class="logo" href="{%if online%}/modoz{%endif%}/"><img src="{{MEDIA_URL}}imgs/logo.png"></a>
		<span class="menu">
			<a href="{%if online%}/modoz{%endif %}/"><img src="{{MEDIA_URL}}imgs/icon-04.png">inicio</a>
			<a href="{%if online%}/modoz{%endif %}/alterar_dados/"><img src="{{MEDIA_URL}}imgs/icon-03.png">editar dados</a>
			<a href="{%if online%}/modoz{%endif %}/cursos/"><img src="{{MEDIA_URL}}imgs/icon-02.png">meus cursos</a>
			<a href="{%if online%}/modoz{%endif %}/duvidas/"><img src="{{MEDIA_URL}}imgs/icon-05.png">dúvidas</a>
		</span>
		<span class="direitos-pira">
			<img src="{{MEDIA_URL}}imgs/iconfinder_exclamation_11069.png">
			{% block textoPirataria %}{% endblock %}
		</span>
	</div>
	<div id="meio-ead">
		<div id="box-cli">
			<span class="avatar-icon"><img src="{{MEDIA_URL}}imgs/no-img.png"></span>
			<span class="box-info">
				<span class="name-alun">{% block alunoNome %}{% endblock %}</span>
				<span class="info-more">CPF: {% block alunoCPF %}{% endblock %}</span>
				<span class="info-more">{% block alunoProgressao %}{% endblock %} </span>
			</span>
		</div>
		<div id="box-cli-02">
			<!-- <span class="btn-right-top"><img src="{{MEDIA_URL}}imgs/trocar-user-btn.png"> trocar usuário</span> -->
			<span class="btn-right-top"><a href="{%if online%}/modoz{%endif %}/logout/"><img src="{{MEDIA_URL}}imgs/sair-btn.png"> Sair</a></span>
		</div>
		<div class="content">
		{% block conteudo %}{% endblock %}
		</div>
	</div>
	<div id="footer">
		<span class="direitos-end">Todos os direitos reservados Modo Zero - {% now "Y" as current_year %}</span>
		<span class="redes">
			<a href="#"><img src="{{MEDIA_URL}}imgs/facebook-icon.png"></a>
			<a href="#"><img src="{{MEDIA_URL}}imgs/twitter-icon.png"></a>
		</span>
	</div>
</body>
</html>
