{% extends "base.html" %}
{% block titulo %} - Cadastro{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-maskedinput.js" ></script>
<link type="text/css" href="{{MEDIA_URL}}css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/valida-contato.js" ></script>

<script type="text/javascript" language="javascript">		
	//Mascaras para o formulario - jquery-maskedinput.js
	$(document).ready(function(){
		$("#id_telefone").mask("(99) 9999-9999");			
		$("#id_nascimento").mask("99/99/9999");
		$("#id_cpf").mask("999.999.999-99");
		
		$("#arrow").attr('class','arrow-pos4');
		
		$("#id_form_contato").bind("submit", function(){
			//alert('teste');			
			enviarContato();			
			return false;
		});	
		$.jTwitter('modoz', 1, function(data){
			$('#tweets').empty();
			$.each(data, function(i, post){
				$('#tweets').append('<li><img src="'
       + post.user.profile_image_url + '" /><a class="tit" href="http://www.twitter.com/modoz">'+post.user.screen_name +'</a><p>'
					+post.text+'</p></li>');
			});
			$('#tweets').cycle({
				fx: 'scrollDown',
				delay:6000,
				speed:5000
			});
		});	
		$('#clientes_slideshow').cycle({
			fx: 'scrollDown',
			delay:2000,
			speed:1000
		});
	});
</script>
{% endblock %}
{% block conteudo %}
<div class="grid_12 alpha">
	<div class="pessoal grid_8 alpha">
        <h2 class="subtitle grid_8 alpha">Entre em contato conosco</h2>
        <div class="clr">&nbsp;</div>
        <p class="ui-state-highlight ui-corner-all" style="display:none" id="alertcontato2">&nbsp;</p>
        <form id="id_form_contato" action="/modoz/contato/" method="POST">
        	<fieldset>
            	{{ form.nome.errors }}
            	<label>Nome</label>
                <div class="ipt_grande">
                	<img src="{{MEDIA_URL}}img/ico-input-bordleft-white.png" />
                	<input id="id_nome_contato" onblur="if(this.value==''){this.value='Informe seu nome';}" onfocus="if(this.value=='Informe seu nome'){this.value='';}" value="Informe seu nome" name="nome_contato" class="ipt_grande" type="text"/> 
                    <img src="{{MEDIA_URL}}img/ico-input-bordright-white.png" />
                </div>
            </fieldset>
            <fieldset>
            	{{ form.email.errors }}
            	<label>Email</label>
                <div class="ipt_medio">
                	<img src="{{MEDIA_URL}}img/ico-input-bordleft-white.png" />
                    <input id="id_email_contato" onblur="if(this.value==''){this.value='Informe seu email';}" onfocus="if(this.value=='Informe seu email'){this.value='';}" value="Informe seu email" name="email_contato" class="ipt_grande" type="text"/>                   
                    <img src="{{MEDIA_URL}}img/ico-input-bordright-white.png" />
                </div>
            </fieldset>
            <fieldset>
            	{{ form.assunto.errors }}
            	<label>Assunto</label>
                <div class="ipt_medio">
                	<img src="{{MEDIA_URL}}img/ico-input-bordleft-white.png" />
                    <input id="id_assunto_contato" onblur="if(this.value==''){this.value='Informe o assunto';}" onfocus="if(this.value=='Informe o assunto'){this.value='';}" value="Informe o assunto" name="assunto_contato" class="ipt_grande" type="text"/>
                    <img src="{{MEDIA_URL}}img/ico-input-bordright-white.png" />
                </div>
            </fieldset>
            <fieldset>
            	{{ form.mensagem.errors }} 
            	<label>Mensagem</label>
                <div class="ipt_grande">
                	<img src="{{MEDIA_URL}}img/ico-input-bordleft-white.png" />
                    <input id="id_mensagem_contato" name="mensagem_contato" class="ipt_grande" type="text" onblur="if(this.value==''){this.value='Informe sua mensagem';}" onfocus="if(this.value=='Informe sua mensagem'){this.value='';}" value="Informe sua mensagem"/>
                    <img src="{{MEDIA_URL}}img/ico-input-bordright-white.png" />
                </div>
            </fieldset>
            <fieldset class="submitline"><input class="submit" type="submit" value="enviar" /></fieldset>
        </form>
    </div>
    <div class="sidebar grid_4 omega">       	    
        {% if clientes %}
            <div class="clientesparceiros">
                <img class="title" src="{{MEDIA_URL}}img/title-clientesparceiros.png" />
                <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-up.png" />
                <ul class="area" id="clientes_slideshow">
                 {% for cliente in clientes %}
                    <li><a {% if cliente.site %} title="{{cliente.nome}}" href="{{cliente.site}}" {% endif %}><img src="{{MEDIA_URL}}{{cliente.imagem}}" /></a></li>
                {% endfor %}
                </ul>
                <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-bottom.png">
            </div>
            <div class="clr">&nbsp;</div>
        {% endif %} 
        <div class="twitter">
            <img src="{{MEDIA_URL}}img/ico-twitter.png"/>
            <label>Siga-nos em <a href="http://www.twitter.com/modoz">@modoz</a></label>
            <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-up.png" />
            <ul id="tweets"><li><img src="http://a1.twimg.com/profile_images/1128401397/Twitter_normal.jpg"><a href="http://www.twitter.com/modoz" class="tit">modoz</a><p>n&atilde;o perca tempo, cadastre agora mesmo em nosso site e fique por dentro de todas as promo&ccedil;&otilde;es da sua cidade. www.modoz.com.br</p></li></ul>
            <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-bottom.png" />
        </div>        
        <div class="clr">&nbsp;</div>    
        <div class="opiniao">
            <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-sugira-up.png" />
            <label>Sua opini&atilde;o &eacute; importante para n&oacute;s</label>
            <label id="alertopiniao" style="display:none;">&nbsp;</label>
            <form id="id_form_opiniao" action="/modoz/opiniao/" method="POST">
                <img class="fl" src="{{MEDIA_URL}}img/ico-input-bordleft.png" />	
                <input id="id_texto" class="input" type="text" value="Escreva aqui" name="texto" />
                <img class="fl" src="{{MEDIA_URL}}img/ico-input-bordright.png" />	
                <input class="enviar" type="submit" value="OK!"/>
            </form>
            <img class="fl" src="{{MEDIA_URL}}img/bg-divs-white-sugira-bottom.png" />
        </div>    
    </div>
</div>
{% endblock %}