{% extends "base.html" %}
{% load i18n %}
{% block titulo %}Cursos{% endblock %}
{% block extrahead %}
{% endblock %}

{% block alunoNome %}{{matricula.aluno.nome}}{% endblock %}
{% block alunoID %}{{matricula.numero}}{% endblock %}
{% block alunoCPF %}{{matricula.aluno.cpf}}{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}

{% block conteudo %}
      <h2 class="topspace">{{matricula.curso.titulo}}</h2>
		<div class='cronograma'>
			<p>Aulas (Cronograma)</p>
			<ul>
				{% for aula in matricula.curso.aulas.all %}
				<li><a href="/modoz/aula/{{aula.id}}">{{ aula.titulo }}</a></li>
				{% endfor %}
			</ul>
		</div>
{% endblock conteudo %}
