{% extends "base.html" %}
{% load i18n %}
{% block titulo %}Cursos{% endblock %}
{% block extrahead %}
{% endblock %}

{% block alunoNome %}{{matricula.aluno.nome}}{% endblock %}
{% block alunoID %}{{matricula.numero}}{% endblock %}
{% block alunoCPF %}{{matricula.aluno.cpf}}{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}

{% block conteudo %}
      <h2 class="topspace">{{matricula.curso.titulo}}</h2>
		<div class='cronograma'>
			<p>Aulas (Cronograma)</p>
			<ul class="marginless paddingless list-style-none ">
				{% for aula in matricula.curso.aulas.all %}
				<li><a href="{%if online%}/modoz{%endif %}/aula/{{aula.id}}">
               <span class="content-curs">
                  <span class="video-thumb"><img src="{{MEDIA_URL}}imgs/no-video.jpg"></span>
                  <span class="box-info-cur-fa">
                     <span class="title-fa-cu">{{ aula.titulo }}</span>
                     <span class="info-title-cu">Horas: 00:00 / Status: {%if matricula.cursosituacao%}{{matricula.cursosituacao}}{%else%}Aberto{%endif%}</span>
                     <span class="content-text-cu">
                        {{ aula.descricao|safe }}
                     </span>
                  </span>
               </span>
            </a></li>
				{% endfor %}
			</ul>
		</div>
{% endblock conteudo %}
