{% extends "base.html" %}
{% load i18n %}
{% block titulo %}Aula{% endblock %}
{% block extrahead %}{% endblock %}

{% block alunoNome %}{{aluno.nome}}{% endblock %}
{% block alunoCPF %}{{aluno.cpf}}{% endblock %}
{% block alunoProgressao %}Curso concluído: {{matriculaRef.get_progressao_curso}}%{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}
{% block conteudo %}
{%if exercicio%}
{% if exercicioEnviado %}
<h3>Você concluiu o exercicio: {{exercicio.titulo}}. Sua nota foi: {{desempenhoExercicio.nota}}, {{desempenhoExercicio.status}}.</h3>
   {%ifequal desempenhoExercicio.status "Aprovado" %}
      {% if desempenhoExercicio.exercicio.questoes.all %}
      <br/>
      <h3>Gabarito</h3>
      <ol>
      {% for questao in desempenhoExercicio.exercicio.questoes.all %}
      <li>
         <span>{% if questao.pergunta %}{{questao.pergunta|safe}}{% else %}{{questao.perguntaAbreviada}}{%endif%}</span>

         <ol class="alpha marginless paddingless">
            {% for alternativa in questao.alternativas.all %}
            <li>
               <label
               {% for resposta in desempenhoExercicio.respostas.all %}
                  {% ifequal questao.respostaCorreta.id resposta.id %}
                     {% ifequal alternativa.id resposta.id %}
                        style="color:green !important;"
                     {% endifequal %}
                  {% else %}
                     {% ifequal questao.id resposta.id %}
                        {% ifequal alternativa.id resposta.id %}
                           style="color:red !important;"
                        {% endifequal %}
                     {% endifequal %}
                  {% endifequal %}
               {% endfor %}
               >{{alternativa.enunciado|safe}}</label>
            </li>
            {% endfor %}
         </ol>
      </li>
      {% endfor %}
      </ol>
      {% endif %}
      {% if exercicio.aula.relates_to %}
         <br/>
         <a href="{%if online%}/modoz{% endif %}/aula/{{exercicio.aula.relates_to.titulourl}}"><h3>Ir para aula: {{exercicio.aula.relates_to.titulo}}</h3></a>
      {% else %}
         {% ifequal exercicio.status "avaliacao" %}<h3>Parabéns você finalizou seu curso.</h3>{% endifequal %}
         {% if cursoRef %}<br/>
            <a href="{%if online%}/modoz{% endif %}/curso/{{cursoRef.titulourl}}">Ir para listagem de aulas</a>
         {% endif %}
      {% endif %}
   {% else %}
   <a href="{%if online%}/modoz{% endif %}/aula/{{aulaComeback.titulourl}}">Refazer aula: {{aulaComeback.titulo}}</a>
   {%endifequal%}
{%else%}
{% ifequal exercicio.status "avaliacao" %}
<h2 class="title-big-cur">Avaliação final do curso {{cursoRef.titulo}}</h2>
<h3>{{exercicio.titulo}}</h3>
{% else %}
<h2 class="title-big-cur">{{exercicio.titulo}}</h2>
{% endifequal %}
<form action="{%if online%}/modoz{% endif %}/processamentoAvaliacao/{{titulourl}}/" method="POST">
   <ul class="list-style-none">
      <li>
      	<ol>
            {% for questao in exercicio.questoes.all %}
            <li>
               <span class="info-title-cu-02">{% if questao.pergunta %}{{questao.pergunta|safe}}{% else %}{{questao.perguntaAbreviada}}{%endif%}</span>
               <ol class="alpha marginless paddingless">
                  {% for alternativa in questao.alternativas.all %}
                  <li>
                     <label><input value='{{alternativa.id}}' name="{{questao.id}}" class="paddingless marginless" type="radio" />{{alternativa.enunciado|safe}}</label>
                  </li>
                  {% endfor %}
               </ol>
            </li>
            {% endfor %}
         </ol>
      </li>
   </ul>

   <button>Enviar</button>
</form>
{%endif%}
{%else%}
<h3>Você não tem permissão para acessar esse exercício.</h3>
{%endif%}
{% endblock conteudo %}
