{% extends "base.html" %}
{% load i18n %}
{% block titulo %}Aula{% endblock %}
{% block extrahead %}{% endblock %}

{% block alunoNome %}{{aluno.nome}}{% endblock %}
{% block alunoCPF %}{{aluno.cpf}}{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}
{% block conteudo %}
{%if exercicio%}
{% if exercicioEnviado %}
<h3>Você concluiu o exercicio: {{exercicio.titulo}}. Sua nota foi: {{desempenhoExercicio.nota}}, {{desempenhoExercicio.status}}.</h3>
   {%ifequal desempenhoExercicio.status "Aprovado" %}
      {% if exercicio.aula.relates_to %}
         <br/>
         <a href="{%if online%}/modoz{% endif %}/aula/{{exercicio.aula.relates_to.titulourl}}">Ir para aula: {{exercicio.aula.relates_to.titulo}}</a>
      {% else %}
      {% if cursoRef %}<br/>
         <a href="{%if online%}/modoz{% endif %}/curso/{{cursoRef.titulourl}}">Ir para listagem de aulas</a>
      {% endif %}
      {% endif %}
   {% else %}
   <a href="{%if online%}/modoz{% endif %}/aula/{{aulaComeback.titulourl}}">Refazer aula: {{aulaComeback.titulo}}</a>
   {%endifequal%}
{%else%}
<h2 class="title-big-cur">{{exercicio.titulo}}</h2>
<form action="{%if online%}/modoz{% endif %}/processamentoAvaliacao/{{titulourl}}/" method="POST">
   <ul class="list-style-none">
      <li>
      	<ol>
            {% for questao in exercicio.questoes.all %}
            <li>
               <span class="info-title-cu-02">{{questao.pergunta|safe}}</span>
               <ol class="alpha marginless paddingless">
                  {% for alternativa in questao.alternativas.all %}
                  <li>
                     <label><input value='{{alternativa.id}}' name="{{questao.id}}" class="paddingless marginless" type="radio" />{{alternativa.enunciado|safe}}</label>
                  </li>
                  {% endfor %}
               </ol>
            </li>
            {% endfor %}
         </ol>
      </li>
   </ul>

   <button>Enviar</button>
</form>
{%endif%}
{%else%}
<h3>Você não tem permissão para acessar esse exercício.</h3>
{%endif%}
{% endblock conteudo %}
