{% extends "base.html" %}
{% block titulo %}Modozero{% endblock %}
{% block extrahead %}
{% endblock %}
{% block alunoNome %}{{aluno.nome}}{% endblock %}
{% block alunoCPF %}{{aluno.cpf}}{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}
{% block conteudo %}
<div id="video-espli">
   <span class="title-big">{{telaInicialDoAluno.titulo}}</span>
   <span class="video-local">
      <div class="video-container">
         <iframe
            width="940" height="380"
            src="{{telaInicialDoAluno.urlYoutube}}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
         </iframe>
      </div>
   </span>
   <span class="tiny-title">{{telaInicialDoAluno.conteudo|safe}}</span>
</div>
<div id="cursos-in">
   <span class="title-big-cur">Cursos Adquiridos//</span>
   <span class="box-fast-btn">
      <a href="#">Em andamento</a>
      <a href="#">Finalizados</a>
   </span>
   {% if matriculas %}
   {%for matricula in matriculas.all%}
   <span class="content-curs">
      <span class="video-thumb">
         {% if matricula.curso.getVideoID %}
         <img src="https://img.youtube.com/vi/{{matricula.curso.getVideoID}}/mqdefault.jpg">
         {%else%}
         <img src="{{MEDIA_URL}}img/no-video.jpg">
         {% endif %}
      </span>
      <a href="{%if online %}/modoz{%endif %}/curso/{{matricula.curso.titulourl}}" class="box-info-cur-fa">
         <span class="title-fa-cu">{{matricula.curso.titulo}}</span>
         <span class="info-title-cu">Horas: 00:00 / Status:  {%if matricula.cursosituacao %}{{matricula.cursosituacao}}{%else%}Aberto{%endif%}</span>
         <span class="content-text-cu">
            {{matricula.curso.descricao|safe}}
         </span>
      </a>
   </span>
   {%endfor%}
   {% else %}
   <h3>Adquira já nossos cursos!</h3>
   {% endif %}
</div>
{% endblock %}
