{% extends "base.html" %}
{% block titulo %}Modozero{% endblock %}
{% block extrahead %}
{% endblock %}
{% block alunoNome %}{{matricula.aluno.nome}}{% endblock %}
{% block alunoID %}{{matricula.numero}}{% endblock %}
{% block alunoCPF %}{{matricula.aluno.cpf}}{% endblock %}
{% block textoPirataria %}{{telaInicialDoAluno.textoPirataria|safe}}{% endblock %}
{% block conteudo %}
<div id="video-espli">
   <span class="title-big">{{telaInicialDoAluno.titulo}}</span>
   <span class="video-local">
      <div class="video-container">
         <iframe
            width="940" height="380"
            src="{{telaInicialDoAluno.urlYoutube}}"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
         </iframe>
      </div>
   </span>
   <span class="tiny-title">{{telaInicialDoAluno.conteudo|safe}}</span>
</div>
<div id="cursos-in">
   <span class="title-big-cur">Cursos Adquiridos//</span>
   <span class="box-fast-btn">
      <a href="#">Em andamento</a>
      <a href="#">Não iniciados</a>
      <a href="#">Finalizados</a>
   </span>
   <span class="content-curs">
      <span class="video-thumb"><img src="{{MEDIA_URL}}/imgs/no-video.jpg"></span> -->
      <span class="box-info-cur-fa">
         <span class="title-fa-cu">{{matricula.curso.titulo}}</span>
         <span class="info-title-cu">Horas: 00:00 / Estatus: Em andamento</span>
         <span class="content-text-cu">
            {{matricula.curso.descricao|safe}}
         </span>
      </span>
   </span>
</div>
{% endblock %}
