<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title>modoz - O poder da compra coletiva{% block titulo %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/960/css/reset.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/960/css/960.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/960/css/text.css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/style.css" />

<!--SCRIPTS-->
<!--[if IE 6]>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}js/DD_belatedPNG_0.0.7a-min.js"></script>
<script type="text/javascript" language="javascript">
    DD_belatedPNG.fix(' img , .logo-modoz, .area-laranja, .area-amarela, .link-comprar, .twitter, .facebook, .orkut, .socialize, .entenda');
</script>
<![endif]--> 

</head>
<body>
<div class="meio_login">
    <a class="logo" href="{{site}}" target="_parent"><img src="{{MEDIA_URL}}img/logo-modoz.png"></a>
    <ul>
        <li><a class="link1" href="/modoz/login/" target="_parent">J&aacute; &eacute; cadastrado ? Clique aqui para fazer seu login !</a></li>
        <li><a class="link2" href="/modoz/pessoal/" target="_parent">Ainda n&atilde;o &eacute; cadastrado ? Clique aqui para fazer seu pessoal !</a></li>
    </ul>
</div>
</body>
</html>