<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title> Modozero - Logout</title>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/stylemz15.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-3.3.1.min.js" charset="utf-8"></script>

</head>
<body>
	<div id="meio-ead2">
		<div class="conteudo">
			<div class="topo">
				<a href="{%if online%}/modoz{%endif%}/"><img src="{{MEDIA_URL}}imgs/logo.png"><a/>
			</div>
			<div class="meio">
				<h2 class="subtitle grid_8 alpha">Voc&ecirc; n&atilde;o est&aacute; mais logado no sistema.</h2>
				<a class="ui-state-highlight ui-corner-all" href="{%if online%}/modoz{%endif %}/login/">voltar para login do site</a>
			</div>
		</div>
	</div>
	<div id="footer2">
		<span class="direitos-end">Todos os direitos reservados Modo Zero - 2018</span>
		<span class="redes">
			<a href="#"><img src="{{MEDIA_URL}}imgs/facebook-icon.png"></a>
			<a href="#"><img src="{{MEDIA_URL}}imgs/twitter-icon.png"></a>
		</span>
	</div>
</body>
</html>
