<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
<title> Modozero - Logout</title>

<link rel="stylesheet" type="text/css" media="screen, projection" href="{{MEDIA_URL}}css/stylemz14.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-3.3.1.min.js" charset="utf-8"></script>

</head>

<body>
	<div id="meio-ead2">
		<div class="conteudo">
			<div class="topo">
				<a href="{%if online%}/modoz{%endif%}/"><img src="{{MEDIA_URL}}imgs/logo.png">
			</div>
			<div class="meio">
			    <form action="/modoz/esqueceu_sua_senha/" method="POST" class="form_password_reset" id="id_form_esqueceusuasenha" >
			    	<p>Esqueceu sua senha ? Informe seu email que est&aacute; cadastrado no site e enviaremos para seu email uma nova senha.</p>
			        <p id="alertcontato3" style="display:none;">&nbsp;</p>
			        <input id="id_email_esqueceusuasenha" class="email_contato" value="email" type="text" name="email_contato" />
			        <input type="submit" value="Enviar" class="enviar" />
			    </form>
			 </div>
		 </div>
	 </div>
</body>
</html>
